<!-- Footer -->
<footer class="page-footer font-small unique-color-dark" style="background: #336699;color: #fff; font-size:15px">

        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">
    
            <!-- Grid row -->
            <div class="row mt-3">
    
                <!-- Grid column -->
                <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4" style="padding-left: 5px;padding-right: 5px;">
    
                    <!-- Content -->
                    <h6 class="text-uppercase font-weight-bold">PORTAL DE EMPLEO</h6>
                    <hr style="width: 60px;background: #9EE493;">
                    <p>El Portal de empleo, es un sistema de gestión documental
                        desarrollado a la medida para administrar hojas de vidas.</p>
    
                </div>
                <!-- Grid column -->
    
    
                <!-- Grid column -->
                <div class="col-md-4 col-lg-4 col-xl-2 mx-auto mb-4" style="padding-left: 5px;padding-right: 5px;">
    
                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Enlaces de Interés</h6>
                    <hr style="width: 60px;background: #9EE493;">
                    <p>
                        <a class="link-f" href="<?php echo constant('URL');?>user/contacto">Contacto</a>
                    </p>
                    <p>
                        <a class="link-f" href="#!">Grupo social Membrillal</a>
                    </p>
                    <p>
                        <a class="link-f" href="<?php echo constant('URL');?>user/convocatorias">Buscar empleo</a>
                    </p>
    
                </div>
                <!-- Grid column -->
    
                <!-- Grid column -->
                <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-md-0 mb-4" style="padding-left: 5px;padding-right: 5px;">
    
                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Contacto</h6>
                    <hr style="width: 60px;background: #9EE493;">
                    <p>
                        <i class="fas fa-home mr-3"></i>Centro, calle de la Universidad, Edificio Salomón Ganen, Oficina
                        306.
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i>comiteempresarialmembrillal@gmail.com</p>
                    <p>
                        <i class="fas fa-phone mr-3"></i>(057) 664 4734</p>
                    <p>
                        <i class="fas fa-print mr-3"></i> 317 404 1236</p>
    
                </div>
                <!-- Grid column -->
    
            </div>
            <!-- Grid row -->
    
        </div>
        <!-- Footer Links -->
    
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="background: #86BBD8;">Todos los derechos reservados ©
        </div>
        <!-- Copyright -->
    
    </footer>
    <!-- Footer -->
    
    </div>
</body>

<script type="text/javascript">
    window.onload = function(){
        document.querySelector("#preloader").style.display = "none";
        document.querySelector("#wrapper").style.display = "block";
    }
</script>

</html>