<div class="container pb-3">
    <div class="pt-5">
        <ul class="nav nav-pills justify-content-end">
            <li class="nav-item">
                <a class="nav-link text-secondary" href="<?php echo constant('URL');?>persona/panel"><i
                        class="fas fa-home fa-sm fa-fw mr-1 text-secondary"></i>Panel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="<?php echo constant('URL');?>persona/hojadevida"><i
                        class="fas  fa-file-alt fa-sm fa-fw mr-1 text-secondary"></i>Hoja de Vida</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active rounded-pill" style="background-color: #17a2b8;border-color: #17a2b8;"
                    href="<?php echo constant('URL');?>persona/datospersonales"><i
                        class="fas fa-user fa-sm fa-fw mr-1 text-white"></i> Datos Personales</a>
            </li>
        </ul>
    </div>

    <h3 class="pr-2 pl-2">Datos Personales</h3>

    <form data-toggle="validator" id="validate" method="post" enctype="multipart/form-data">
        <div class="form-row pr-2 pl-2">
            <div class="form-group col-md-3">
                <label>Tipo Identificación</label>
                <select type="text" class="form-control" name="codi_iden" id="codi_iden" placeholder="" disabled>

                </select>
            </div>

            <div class="form-group col-md-3">
                <label>N° Identificación</label>
                <input type="number" class="form-control" name="id" id="id" required  disabled/>
            </div>

            <div class="form-group col-md-3">
                <label>Nombre</label>
                <input type="text" class="form-control" name="nomb_pers" id="nomb_pers" required disabled/>
            </div>

            <div class="form-group col-md-3">
                <label>Apellidos</label>
                <input type="text" class="form-control" name="ape_pers"  id="ape_pers"  required disabled/>
            </div>

            <div class="form-group col-md-4">
                <label>Género</label>
                <select name="sexo" id="sexo" class="form-control">
                    <option value="">Seleccione un género</option>
                    <option value="F">Femenino</option>
                    <option value="M">Masculino</option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <label>Fecha de Nacimiento</label>
                <input type="date" class="form-control" name="fnac_pers" id="fnac_pers" required />
            </div>

            <div class="form-group col-md-4">
                <label>Estado civil</label>
                <select type="text" class="form-control" name="esta_pers" id="esta_pers">

                </select>

            </div>

            <div class="form-group col-md-2">
                <label>Teléfono 1</label>
                <input type="number" class="form-control" name="telefono1" id="telefono1" required />
            </div>

            <div class="form-group col-md-2">
                <label>Teléfono 2</label>
                <input type="number" class="form-control" name="telefono2" id="telefono2" />
            </div>

            <div class="form-group col-md-4">
                <label>Correo Eléctronico</label>
                <input type="text" class="form-control" name="emai_pers" id="emai_pers" />
            </div>

            <div class="form-group col-md-4">
                <label>Dirección</label>
                <input type="text" class="form-control" name="direccion" id="direccion" required />
            </div>

        </div>

        <div class="card-group pr-2 pl-2">
            <div class="card pt-b2">
                <div class="card-body text-center">
                    <center>
                        <h6>Subir foto o imagen</h6>
                        <output class="d-flex justify-content-center pt-1 pb-1" id="fotos"></output>
                    </center>
                    <a>
                        <center>
                            <div class="form-group d-flex justify-content-center">
                                <input accept="image/*" type="file" class="form-control-file" id="foto_pers"
                                    name="foto_pers" style="width: 334px;">
                            </div>
                        </center>
                    </a>
                </div>
            </div>
        </div>

        <label id="registerMessage" class="text-danger float-left"></label>
        <button  id="btn-registro-datosp" class="btn btn-success mt-2 mr-2 ml-2 rounded-pill">REGISTRAR</button>

    </form>

</div>