<div class="container pb-5">
    <div class="pt-5 pb-2">
        <ul class="nav nav-pills justify-content-end">
            <li class="nav-item">
                <a class="nav-link text-secondary" href="<?php echo constant('URL');?>persona/panel"><i
                        class="fas fa-home fa-sm fa-fw mr-1 text-secondary"></i>Panel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active rounded-pill" style="background-color: #17a2b8;border-color: #17a2b8;"
                    href="<?php echo constant('URL');?>persona/hojadevida"><i class="fas  fa-file-alt fa-sm fa-fw mr-1 text-white"></i> Gestión Hoja de Vida</a>
            </li>
        </ul>
    </div>
    <h5 class="text-left text-dark pl-2 text-uppercase font-weight-bolder" style="border-left: 4px solid #336699;">Gestión Hoja de Vida</h5>

    <div class="row pt-2">

        <div class="col-md-4">
            <a href="<?php echo constant('URL');?>persona/datospersonales" class="enlace-card"><div class="card box-shadow">
                <i class="fas fa-user icon-card-persona text-center" style="color: #336699;"></i>
                <div class="card-body text-center">
                    <h6 class="card-title">Datos Personales</h6>
                    <p class="card-text">Aquí se ingresan los datos relacionados con la información
                        personal.</p>
                </div>
            </div>
        </a>
        </div>

        <div class="col-md-4">
            <a href="<?php echo constant('URL');?>persona/datosacademicos" class="enlace-card"><div class="card box-shadow">
                <i class="fas fa-graduation-cap icon-card-persona text-center" style="color: #336699;"></i>
                <div class="card-body text-center">
                    <h6 class="card-title">Formación Académica</h6>
                    <p class="card-text">Aquí se ingresan los datos relacionados con el historial
                        académico de
                        la persona.</p>
                </div>
            </div>
        </a>
        </div>

        <div class="col-md-4">
            <a href="<?php echo constant('URL');?>persona/experiencialaboral" class="enlace-card"><div class="card box-shadow">
                <i class="fas fa-briefcase icon-card-persona text-center" style="color: #336699;"></i>
                <div class="card-body text-center">
                    <h6 class="card-title">Experiencia Laboral</h6>
                    <p class="card-text">Aquí se ingresan los datos relacionados con la experiencia
                        laboral de la persona.</p>
                </div>
            </div>
        </a>
        </div>
        
    </div>

    <div class="row pt-3">

        <div class="col-md-4">
            <a href="<?php echo constant('URL');?>persona/subirhdv" class="enlace-card"><div class="card box-shadow">
                <i class="fas fa-file-upload icon-card-persona text-center" style="color: #336699;"></i>
                <div class="card-body text-center">
                    <h6 class="card-title">Subir HdV</h6>
                    <p class="card-text">Aquí, puede subir su HdV en formato .doc o .pdf.</p>
                </div>
            </div>
        </a>
        </div>
        </div>
</div>