<div class="container pb-5">
    <div class="pt-5">
        <ul class="nav nav-pills justify-content-end">
            <li class="nav-item">
                <a class="nav-link text-secondary" href="<?php echo constant('URL');?>persona/panel"><i
                        class="fas fa-home fa-sm fa-fw mr-1 text-secondary"></i>Panel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="<?php echo constant('URL');?>persona/misconvocatorias"><i
                        class="fas fa-bullhorn fa-sm fa-fw mr-1 text-secondary"></i> Convocatorias Laborales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active rounded-pill" style="background-color: #17a2b8;border-color: #17a2b8;"
                    href="<?php echo constant('URL');?>persona/mispostulaciones"><i
                        class="fas fa-tasks fa-sm fa-fw mr-1 text-white"></i> Postulaciones Laborales</a>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="pt-3 pb-2">
                <h5 class="text-left text-dark pl-2 text-uppercase font-weight-bolder"
                    style="border-left: 4px solid #336699;">Mis Postulaciones</h5>
            </div>
        </div>
    </div>

    <div class="row pt-4 pb-4">
        <div class="col-md-12">
            <div class="row">
                <div class="col-12">
                    <div class="row" id="listaPostulaciones">

                    </div>
                </div>    
            </div> 
            <nav aria-label="Page navigation example">
                <ul class="pagination" id="paginador">

                </ul>
            </nav>
        </div>
    </div>
</div>