<div class="container">
    <div class="pt-5">
        <ul class="nav nav-pills justify-content-end">
            <li class="nav-item">
                <a class="nav-link text-secondary" href="<?php echo constant('URL');?>persona/panel"><i
                        class="fas fa-home fa-sm fa-fw mr-1 text-secondary"></i>Panel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="<?php echo constant('URL');?>persona/hojadevida"><i
                        class="fas  fa-file-alt fa-sm fa-fw mr-1 text-secondary"></i>Hoja de Vida</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="<?php echo constant('URL');?>persona/experiencialaboral"><i
                        class="fas fa-briefcase fa-sm fa-fw mr-1 text-secondary"></i> Experiencia Laboral</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active rounded-pill" style="background-color: #17a2b8;border-color: #17a2b8;"
                    href="<?php echo constant('URL');?>persona/perfilaboral"><i
                        class="fas fa-user-graduate fa-sm fa-fw mr-1 text-white"></i> Perfil Laboral</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="pt-3 pb-2">
                <h5 class="text-left text-dark pl-2 text-uppercase font-weight-bolder" style="border-left: 4px solid #336699;">Perfil Laboral</h5>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 pt-2 pb-3">

            <!-- Button trigger modal -->
            <button class="btn btn-success rounded-pill" data-toggle="modal" data-target="#addperfiles">
                <i class="fas fa-plus text-white"></i>
                Registrar Perfil
            </button>
        </div>

        <div class="col-md-9 col-xl-9 col-lg-9 pt-2 pb-3">
            <label>Buscar Perfil</label>
            <input type="text" class="form-control" name="filtrarPerfil" id="filtrarPerfil"
                placeholder="Buscar perfil" onkeyup="getListaPerfiles(1);">
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <table id="table_user" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Por defecto</th>
                        <th>Título</th>
                        <th>Descripción</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody id="resultsPerfiles">
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination" id="paginador">

                </ul>
            </nav>

        </div>

    </div>

    <!-- Modal Registro Perfil Laboral-->
    <div class="modal fade" id="addperfiles" tabindex="-1" role="dialog" aria-labelledby="addperfilesTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <form data-toggle="validator" id="validate" method="post" enctype="multipart/form-data">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addperfilesTitle">Registrar Perfil</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="restablecerPerfiles()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>Título de la hoja de vida:</label>
                                <input type="text" class="form-control" name="titulo" id="titulo" required/>
                            </div>
    
                            <div class="form-group col-md-6">
                                <label>Categoría:</label>
                                <select type="text" class="form-control" name="id_categoria" id="id_categoria" placeholder="" required>
                                    
                                </select>
                            </div>
    
                            <div class="form-group col-md-6">
                                <label>Perfil:</label>
                                    <select type="text" class="form-control" name="id_perfil" id="id_perfil" placeholder="" required>
                                        
                                    </select>
                            </div>
    
                            <div class="form-group col-md-12">
                                <label>Perfil ocupacional:</label>
                                <textarea class="form-control" rows="3" maxlength="200" name="descripcion" id="descripcion" required></textarea>
                                <small class="form-text text-info"><i class="fas fa-info-circle"></i> Digite una breve descripción del perfil ocupacional de su hoja de vida.</small>
                            </div>                           
                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="registerPerfilClose" class="btn btn-secondary rounded-pill"
                            data-dismiss="modal">CANCELAR</button>
                        <button id="btnregistroperfil" class="btn btn-success rounded-pill">REGISTRAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--Modal eliminar Perfil Laboral-->
    <div class="modal fade" id="deleteperfil" tabindex="-1" role="dialog" aria-labelledby="deletePerfilLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="deletePerfilLabel">Eliminar Perfil</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="restablecerPerfiles()">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <h6 class="text-center text-danger font-weight-bold"><i
                    class="fas fa-exclamation-triangle fa-sm fa-fw mr-1"></i> Se eliminará la perfil laboral seleccionado. ¿Está seguro(a)? <i
                    class="fas fa-exclamation-triangle fa-sm fa-fw mr-1"></i></h6>
                <div class="text-danger font-italic">
                    <p>Datos:</p>
                    <p id="perfil_titulo" class="mb-0"></p>
                </div>
            
            </div>
            <div class="modal-footer">
                <label id="deleteEMessage" class="text-danger float-left"></label>
                <button id="registerPerfilClose" class="btn btn-secondary rounded-pill"
                data-dismiss="modal">CANCELAR</button>
                <button id="deletePerfil" class="btn btn-danger rounded-pill">ACEPTAR</button>
            </div>
        </div>
        </div>
    </div>

    <!--Modal Actualizar-->
    <div class="modal fade" id="ModaleditEstadoPerfil" tabindex="-1" role="dialog"
        aria-labelledby="ModaleditEstadoPerfilLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModaleditEstadoPerfilLabel">Perfil Laboral
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6 class="text-center text-info font-weight-bold"><i
                            class="fas fa-exclamation-triangle fa-sm fa-fw mr-1"></i> El perfil laboral
                        seleccionado, será el que visualizará la empresa al momento de consultar su CV. ¿Está seguro(a)? <i
                            class="fas fa-exclamation-triangle fa-sm fa-fw mr-1"></i></h6>
                    <div class="text-info font-italic">
                        <p class="mb-0">Datos:</p>
                        <p id="nomb_titulo" class="mb-0"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary rounded-pill" data-dismiss="modal" id="restablecerEstadoPerfil"
                        onclick="restablecerEstadoPerfil()">CANCELAR</button>
                    <button id="editEstadoVisiblePerfil" class="btn btn-info rounded-pill">ACEPTAR</button>
                </div>
            </div>
        </div>
    </div>
</div>