<div class="container pt-5 pb-5 bg-white">
        <h3>Gestión de Empresas</h3>
        <ul class="nav nav-pills justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="<?php echo constant('URL');?>admin/options">Inicio</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="<?php echo constant('URL');?>admin/panel">Panel de Administración</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link active btn btn-outline-primary" href="<?php echo constant('URL');?>admin/user">Gestión de Empresas</a>
            </li>
        </ul>

    <div class="row">
        <div class="col-xl-2 col-lg-2 pt-2 pb-3">
            <!-- Button trigger modal -->
            <button class="btn btn-info" data-toggle="modal" data-target="#addempresa">
                <i class="fas fa-building text-white"></i>
                Registrar
            </button>
        </div>
        
        <div class="col-xl-10 col-lg-10 pt-2 pb-3">
            <label>Buscar empresa</label>
            <input type="text" class="form-control" name="filtrarEmpresa" id="filtrarEmpresa" placeholder="Buscar emmpresa" onkeyup="getEmpresas(1);">
        </div>
        
        <div class="col-xl-12 col-lg-12">
            <table id="table_user" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Nit</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th class="text-center">Opciones</th>
                    </tr>
                </thead>
                <tbody id="resultsEmpresa">
                </tbody>
            </table>
            
             <nav aria-label="Page navigation example">
                    <ul class="pagination" id="paginador">

                    </ul>
            </nav>
            
        </div>
    </div>




<!-- Modal -->
<div class="modal fade" id="addempresa" tabindex="-1" role="dialog" aria-labelledby="addempresaTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <form id="validate" enctype="multipart/form-data" method="POST">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addempresaTitle">Registrar empresa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <div class="card-group">
                                <div class="card pt-b2">
                                    <div class="card-body text-center">
                                        <center>
                                                <h6>Subir logo o imagen</h6>
                                                <output class="d-flex justify-content-center pt-1 pb-1" id="fotos"></output>
                                        </center>
                                        <a>
                                        <center>
                                                <div class="form-group d-flex justify-content-center">
                                                    <input accept="image/*" type="file" class="form-control-file" id="logo"
                                                        name="logo" style="width: 334px;">
                                                </div>
                                        </center>
                                        </a>
                                    </div>
                                </div>
                            </div>
                    <div class="form-row">
                            <div class="form-group col-md-6">
                            <label for="id">Nit</label>
                            <input type="number" class="form-control underlined" name="id" id="id"
                                placeholder="Digite Nit de la empresa" required>
                            </div>

                        <div class="form-group col-md-6">
                            <label>Nombre de la empresa</label>
                            <input type="text" class="form-control" name="nomb_emp" id="nomb_emp" placeholder=""
                                style="text-transform:uppercase;" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label>Razón social</label>
                            <input type="text" class="form-control" name="razon_s" id="razon_s" placeholder=""
                                style="text-transform:uppercase;" required minlength="150" maxlength="200">
                        </div>

                        <div class="form-group col-md-6">
                                <label>Dirección</label>
                                <input type="text" class="form-control" name="direccion" id="direccion" placeholder=""
                                    style="text-transform:uppercase;" required>
                        </div>

                        <div class="form-group col-md-6">
                                <label>Teléfono</label>
                                <input type="number" class="form-control" name="telefono_emp" id="telefono_emp" placeholder=""
                                    style="text-transform:uppercase;" required>
                        </div>


                        <div class="form-group col-md-6">
                            <label for="password">Contraseña</label>
                            <input type="password" class="form-control underlined" name="password" id="password"
                                minlength="8" maxlength="16" placeholder="Digite su contraseña" required>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <label id="registerEMessage" class="text-danger float-left"></label>
                    <button id="registerCloseEmp" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
                        <button id="btn-registro-empresa" class="btn btn-success">REGISTRAR</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>