<div class="container pt-5 pb-5">
    <div class="row">
        <div class="col-md-12" style="display: flex;align-items: center;text-align: center;">
            <div class="card-group" style="margin: 0 auto;">
                <a href="<?php echo constant('URL');?>admin/panel" class="link"><div class="card" style="max-width: 18rem;">
                    <div class="div-fondo">
                        <i class="fas fa-user-cog icon-panel"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Panel Administrador</h5>
                        <p class="card-text">Aquí encontrará todas las opciones disponibles para administrar la
                            información digitada por los usuarios registrados en el sistema.</p>
                    </div>
                </div></a>

                <a href="<?php echo constant('URL');?>persona/panel" class="link"><div class="card" style="max-width: 18rem;">
                    <div class="div-fondo" style="padding: 25px 28px;">
                        <i class="fas fa-user icon-panel"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Panel Persona</h5>
                        <p class="card-text">Aquí encontrará todas las opciones disponibles para gestionar su hoja de
                            vida y aplicar a una o más convocatorias laborales.</p>
                    </div>
                </div></a>
            </div>
        </div>

    </div>
</div>