<div class="container pt-5 pb-5">
<div class="row">
    <div class="col-md-4">

        <div class="card box-shadow">
            <i class="fas fa-users icon-card-persona text-center"></i>
            <div class="card-body">
                <h5 class="card-title text-center">Gestión Usuarios</h5>
                <p class="card-text text-center">Aquí encontrará los usuarios registrados en el sistema, con sus datos básicos.</p>
                <div class="text-center">
                    <a href="<?php echo constant('URL');?>admin/user"><i class="fas fa-eye options-card"
                            style="background: #ffc107;"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">

            <div class="card box-shadow">
                <i class="fas fa-building icon-card-persona text-center"></i>
                <div class="card-body">
                    <h5 class="card-title text-center">Gestión Empresas</h5>
                    <p class="card-text text-center">Aquí encontrará las empresas registradas en el sistema, con sus datos básicos.</p>
                    <div class="text-center">
                        <a href="<?php echo constant('URL');?>admin/empresa"><i class="fas fa-eye options-card"
                                style="background: #ffc107;"></i></a>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
