<section style="background: #DAF7DC;">
    <div class="card cont-tamaño shadow p-3 mb-5 bg-white rounded">
        <header class="auth-header">
            <div class="logo">
                <a href="<?php echo constant('URL');?>"><img
                        src="<?php echo constant('URL');?>resource/images/logos/logoPortal.png" class="img-logo"></a>
            </div>
            <p class="auth-title text-center text-dark">ZIMEP::PORTAL DE EMPLEO ZONA INDUSTRIAL MAMONAL</p>
        </header>
        <div class="auth-content">
            <p class="text-center pt-2 font-weight-bold">RECUPERAR CONTRASEÑA</p>
            <p class="text-justify">Introduce el número de identificación con el cual te registrarte a la plataforma
                para cambiar la contraseña.</p>

            <form class="resetdata" id="validate" method="post">
                <div class="form-group">
                    <label>Identificación</label>
                    <input type="text" class="form-control underlined" name="id" id="id"
                        placeholder="Digite N° de identificación registrado">
                </div>
            </form>

            <button id="btn-reset" class="btn btn-info text-center rounded-pill btn-block">RECUPERAR</button>
            <br>
            <label id="resetMessage" class="text-danger">
            </label>

            <p class="text-center mb-0">¿Ya recuerdas tu cuenta? <a
                    href="<?php echo constant('URL');?>user/login">Ingresar</a></p>
            <p class="text-center">Volver a la página de <a href="<?php echo constant('URL');?>">Inicio</a></p>

        </div>
    </div>
</section>