<div class="row">
    <div class="col-md-12">
        <div id="notfound">
            <div class="notfound-bg"></div>
            <div class="notfound">
                <div class="notfound-404">
                    <h1>404</h1>
                </div>
                <h2 class="">Página no encontrada</h2>
                <p>La página que está buscando podría haberse eliminado si se cambia su nombre o no está disponible
                    temporalmente.</p>
                <a class="btn btn-warning" href="<?php echo constant('URL');?>">Volver al Inicio</a>
            </div>
        </div>
    </div>
</div>