<section class="pt-4 pb-4" style="background:#ffffff">
    <div class="container pl-5 pr-5">
        <div class="row pt-2 pb-4">
            <div class="col-md-12 border border-info rounded pr-5 pl-5 pb-5 pt-5">
                <h3>Política de Privacidad</h3><br>
                <p class="text-justify">
                    Siguiendo los principios de licitud, lealtad y transparencia, ponemos a su disposición la presente
                    Política de Privacidad.
                </p>
                <p class="text-justify font-weight-bold">¿Quién es el Responsable del tratamiento de sus datos?</p>
                <p class="mb-0"><i class="fas fa-star mr-2"></i>ZIMEP</p>
                <p class="mb-0"><i class="fas fa-star mr-2"></i>Domicilio Social: Barrio Membrillal - Cartagena, Bolívar
                </p>
                <p class="mb-0"><i class="fas fa-star mr-2"></i>Email: comiteempresarialmembrillal@gmail.com</p>
                <p><i class="fas fa-star mr-2"></i>Teléfono: (057) 664 4734</p>

                <p class="text-justify font-weight-bold mb-0">¿Con qué finalidad tratamos sus datos personales?</p>
                <p class="text-justify">En ZIMEP, dependiendo del rol con el cual usted se registre, tratamos la
                    información que nos facilita con las siguientes finalidades:</p>

                <div class="table-responsive-sm">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Rol</th>
                                <th scope="col">Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Candidatos</th>
                                <td>Registro en nuestra plataforma para la participación en procesos de selección
                                    laboral.</td>
                            </tr>
                            <tr>
                                <th scope="row">Empresas</th>
                                <td>Registro en nuestra plataforma para la publicación de ofertas laborales.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <p class="text-justify font-weight-bold mb-0">¿Cuál es la legitimación para el tratamiento de sus datos?
                </p>
                <p class="text-justify">La base legal para el tratamiento de sus datos personales, dependiendo del rol
                    con el cual usted se registre, puede ser:</p>

                <div class="table-responsive-sm">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Rol</th>
                                <th scope="col">Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Candidatos</th>
                                <td>Art. 6.1.a RGPD: consentimiento del propio interesado (facilitar ofertas de nuestros
                                    servicios).</td>
                            </tr>
                            <tr>
                                <th scope="row">Empresas</th>
                                <td>Art. 6.1.a RGPD: consentimiento del propio interesado (facilitar ofertas de nuestros
                                    servicios).</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <p class="font-italic text-justify">
                    Los datos que le solicitamos son adecuados, pertinentes y estrictamente necesarios y en ningún caso
                    está obligado a facilitárnoslos, pero su no comunicación podrá afectar a la finalidad del servicio o
                    la imposibilidad de prestarlo.
                </p>

                <p class="text-justify font-weight-bold mb-0">¿Por cuánto tiempo conservaremos sus datos personales?</p>
                <p class="text-justify">Sus datos, serán conservados el tiempo mínimo necesario para la correcta
                    prestación del servicio ofrecido, así como para atender las responsabilidades que se pudieran
                    derivar del mismo y de cualquier otra exigencia legal.</p>

                <p class="text-justify font-weight-bold mb-0">¿A qué destinatarios se comunicarán sus datos?</p>
                <p class="text-justify">ZIMEP, podrá comunicar los datos de los candidatos registrados en la plataforma
                    a
                    las empresas clientes de ZIMEP cuando estos participen en procesos de selección con la finalidad de
                    gestionar su candidatura.<br><br>ZIMEP, en ningún caso, comunicará los datos a otros terceros sin
                    consentimiento, salvo obligación legal.</p>

                <p class="text-justify font-weight-bold mb-0">Seguridad y actualización de sus datos personales</p>
                <p class="text-justify">Con el objetivo de salvaguardar la seguridad de sus datos personales, le
                    informamos que ha adoptado todas las medidas de índole técnica y organizativa necesarias para
                    garantizar la seguridad de los datos personales suministrados. Todo ello para evitar su alteración,
                    pérdida, y/o tratamientos o accesos no autorizados, tal como exige la normativa, si bien la
                    seguridad absoluta no existe.
                    <br><br>
                    Es importante que, para que podamos mantener sus datos personales actualizados, nos informe siempre
                    que se produzca una modificación de los mismos.</p>

                <p class="text-justify font-weight-bold mb-0">Confidencialidad</p>
                <p class="text-justify">ZIMEP, le informa que sus datos serán tratados con el máximo celo y
                    confidencialidad por todo el personal que intervenga en cualquiera de las fases del tratamiento. No
                    cederemos ni comunicaremos a ningún tercero sus datos, excepto en los casos legalmente previstos, o
                    salvo que el interesado nos hubiera autorizado expresamente.</p>
            </div>
        </div>
    </div>
</section>